$theme-colors: (
	"primary" : #000000,
	"secondary" :#FFFFFF
	);

$font-family-base: 'News Cycle', sans-serif; 
$border-radius: 0px;
$border-width: 3px;
$Montserrat: 'Montserrat', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap";

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

// SECTION HEADER and FONT

.header {
	font-size: 5vw;
}

.font {
	font-family: Montserrat;
}

// NAVBAR
.burger-icon {
	height: 3.5vh;
	width: 3.5vh;
}

.navbar-nav .nav-item {
	.nav-link {
		border-bottom: 3px solid;
	}
}

.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}


// LANDING
#landing-page {
	min-height: 100vh;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.name {
	font-size: 7vw;
}

// CONTACT PAGE
#gMap {
	width: 100%;
	height: 57vh;
	border: none;
	display: block;
}

.button {
  padding: 0.5em 2em;
}
